body {
    padding-left: 15em;
    font-family: Arial,
    SunSans-Regular, sans-serif;
    color: #1b2361;
    background-color: #bae4e6
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em
}

h1 {
    font-family: Arial,
    SunSans-Regular, sans-serif
}

ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 0.5em solid #1b2361
}

ul.navbar a {
    text-decoration: none
}

a:link {
    color: blue
}

a:visited {
    color: purple
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

table {
    border: 1px solid grey;
    margin: 10px auto;
    text-align: center;
}

th {
    border: 1px solid grey;
    text-decoration: none
}

td {
    border: 1px solid grey;
    text-decoration: none
}

address {
    position: fixed;
    bottom: 0;
}